{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="pageReserver/pageReserver.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block reservation %}


    <div class="row">
        <div class="card carte d-flex mx-auto p-3">
            <img src="pageAccueil/imgReserver.jpg" class="card-img-top d-flex mx-auto" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>    


{% endblock %}