.card {
    width: 50vw;
    margin-top: 25vh;
    box-shadow: 0 0 5px #F6AA1C; 
    
}
.card-title {    
    font-size: 5vh;
    color: #941B0C;
    font-family: "luminari";
}
.input-group {
    padding-top: 2vh;
}
.eye {
    display: none;
}
.sinsc {
    margin-top: 2vh;
    background-color:#F6AA1C;
    border: 1px solid #F6AA1C;
    font-weight: 600;
}
.sinsc:hover {
    background-color: #941B0C;
    border: 1px solid #941B0C;
    color: #F6AA1C;
}
.input-group-text, input, select {
    box-shadow: 0 0 2px #941B0C; 
    background-color: #1b998b;
}
.form-control:focus, .form-select:focus {
    box-shadow: 0 0 5px #F6AA1C;
    border: 1px solid #F6AA1C;
}
@media screen and (max-width: 850px) {
    .card {
        width: 95%;
    }
}