.card {
    width: 50vw;
    margin-top: 25vh;
    box-shadow: 0 0 5px #F6AA1C;     
}
.card-title {    
    font-size: 5vh;
    color: #941B0C;
    font-family: "luminari";
}
.input-group {
    padding-top: 2vh;
}
.eye {
    display: none;
}

.sinsc {
    margin-top: 2vh;
    background-color:#F6AA1C;
    border: 1px solid #F6AA1C;
    font-weight: 600;
}
.sinsc:hover {
    background-color: #1b998b;
    border: 1px solid #1b998b;
}
.input-group-text, input, select {
    box-shadow: 0 0 2px #941B0C; 
    
}
.form-control:focus, .form-select:focus {
    box-shadow: 0 0 5px #F6AA1C;
    border: 1px solid #F6AA1C;
}
.modale2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    background-color: rgba(77, 77, 77, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center; 
}
.modale-content2 {
    background-color: white;
    padding: 1.5em 2em;
    width: 400px;
    max-width: 90%;
    border-radius: 4px;
    position: relative;
}
.modale-close2 {
    position: absolute;
    right: 15px;
    top: 8px;
    text-decoration: none;
}
@media screen and (max-width: 850px) {
    .card {
        width: 95%;
        margin-top: 17vh;
    }
    .card-title {
        font-size: 4vh;
    }
    .input-group {
        padding-top: 1.5vh;
    }
}