.card-img-top {
    width: 25vw;
    height: 30vh;
}

.carte {
    width: 50vw;
    margin-top: 35vh;
    
}
#ui-datepicker-div {
    font-size: 12px;
}

.heure {
    background-color: yellow;
}

.heure:hover {
    border: solid;
}
