.carte {
    margin-top: 22vh; 
    box-shadow: 0 0 5px #F6AA1C;   
}
.card-img-top {
    width: 15vw;
    height: 20vh;    
}
.input-group {
    margin-bottom: 1vh;
}
.dateClone {
    display: none;
}
.heure {
    background-color: #fff3b0;
    font-size: 0.95em;
    margin-right: 1vw;
    margin-bottom: 0.5vh; 
    margin-top: 0.8vh;
}
.heure:hover {
    background-color : #1b998b;
}
.form-control:focus, .form-select:focus {
    box-shadow: 0 0 5px #F6AA1C;
    border: 1px solid #F6AA1C;
}
.btn {
    background-color: #F6AA1C;
    border: none;
    margin-top: 1.5vh;
}
.btn:hover {
    background-color: #1b998b;
}

.modale {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    background-color: rgba(77, 77, 77, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center; 
}
.modale-content {
    background-color: white;
    padding: 1.5em 2em;
    width: 400px;
    max-width: 90%;
    border-radius: 4px;
    position: relative;
}
.modale-close {
    position: absolute;
    right: 15px;
    top: 8px;
    text-decoration: none;
}
#modalButton {
    display: none;
    background-color: #941B0C; 
}
#modalButton:hover {
    background-color:#1b998b
}
@media screen and (min-width: 850px) {
    .carte {
        width: 75vw;
    }
}
@media screen and (max-width: 850px) {
    header, .fond {
        height: 150vh;
    }
    .carte {
        width: 100%;   
    }
    .card-img-top {
        width: 100%;
    }    
    .card-body {
        width: 100%;
    }
}    