.carte {
    width: 50vw;
    margin-top: 25vh;
    
}
.card-img-top {
    width: 15vw;
    height: 18vh;
}


#ui-datepicker-div {
    font-size: 12px;
}

.heure {
    background-color: #fff3b0;
    max-width: 5vw;
    margin : 1vh;
}
.heure:hover {
    background-color : #1b998b;
}

#reservations_time {
    visibility: hidden;
}

.titre {
    visibility: visible;
}
.btn {
    background-color: #621708;
    border: none;
    margin-top: 1.5vh;
}
.btn:hover {
    background-color: #1b998b;
}