.connexionBlock {
    width: 50vw;
    margin-top: 25vh;
    box-shadow: 0 0 5px #F6AA1C;  
}
.card-title {    
    font-size: 6vh;
    color: #941B0C;
    font-family: "luminari"; 
}
.create {    
    color: #F6AA1C;
}
.create:hover {
    color: #941B0C;
}
.mailPass {
    color: #941B0C;
    font-size: 2vh;
}
.secoBlock {
    margin-top: 3.5vh;
}
.seco {
    background-color:#F6AA1C;
    border: 1px solid #F6AA1C;
}
.seco:hover {
    background-color: #1b998b;
    border: 1px solid #1b998b;
}
#inputEmail, #inputPassword {
    box-shadow: 0 0 2px #941B0C;  
}
#inputEmail:focus, #inputPassword:focus {
    box-shadow: 0 0 5px #F6AA1C;
    border: 1px solid #F6AA1C;
}
@media screen and (max-width: 850px) {
    .connexionBlock {
        width: 90%;
    }
}
