{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="pageAccueil/pageAccueil.css" rel="stylesheet" type="text/css">
    
{% endblock %}
{% block header %}
<div class="headerBlock row align-items-center">        
    <h1 class="col d-flex justify-content-center text-center">Le Quai Antique</h1>
    <a href="/reservation" class="col reserve">
        <img src="pageAccueil/images/imgReserver.jpg" alt="imgReserver" class="imgReserver rounded-circle">
    </a>
    <a href="/reservation" class="col reserveStrip d-flex justify-content-center">Réserver une table</a>    
</div>          
{% endblock %}

{% block main %}    
        <div class="row welcomeStrip">
            <p class="welcome col d-flex justify-content-center align-items-center">Bienvenue</p>
        </div>       
        <article class="row photoRow">                                   
            <div id="carouselExampleFade" class="col-3 carousel slide carousel-fade">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="pageAccueil/images/img1.jpg" class="photo d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="pageAccueil/images/img2.jpg" class="photo d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="pageAccueil/images/img3.jpg" class="photo d-block w-100">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Précédent</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Suivant</span>
                </button>
            </div>
            <div class="decor"></div> 
            <div class="col-2 txtBlock">
                <div class="row d-flex justify-content-center">Présentation</div>
                <div class="row d-flex justify-content-center">en photos</div>                
        </article>

        <article class="row menuRow">
            <div class="col-2 menuCol">
                <div class="row txtMenu">
                    <div class="d-flex justify-content-center">Nos Menus</div>
                </div>    
                <div class="row txtCarte">            
                    <a href="pageAccueil/Le_Quai_Antique.pdf" class="lienCarte d-flex justify-content-center" target="_blank">La Carte</a>
                </div>
            </div>    
            <div class="decor" id="menuDecor"></div> 
            <img src="pageAccueil/images/imgMenu.jpg" class="col-3 imgMenu">           
        </article>
{% endblock %}
{% block scripts %} <script src="pageAccueil/pageAccueil.js"></script> {% endblock %}
   