{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="pageAccueil/pageAccueil.css" rel="stylesheet" type="text/css">
    
{% endblock %}
{% block header %}
    <div class="row vide"></div>
    <div class="reserve">
        <a href="/reservation">
            <img src="pageAccueil/images/imgReserver.jpg" alt="imgReserver" class="imgReserver rounded-circle">
        </a>
    </div>
    
    <div class="row vide"></div>
    <div class="d-flex mx-auto">
        <h1 class="d-flex mx-auto">Le Quai Antique</h1>
    </div>
    <div class="row reserveStrip">
        <a href="/reservation" class="col reserve2">Réserver</a>
    </div>       
{% endblock %}

{% block body %}
    <main class="container-fluid">
        <div class="row welcomeStrip">
            <p class="welcome col d-flex justify-content-center align-items-center">Bienvenue</p>
        </div>
        
        <article class="row ligne"> 
            <div class="card slider my-auto">          
                <div id="carouselExampleFade" class="col carousel slide carousel-fade">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="pageAccueil/images/img1.jpg" class="photo">
                        </div>
                        <div class="carousel-item">
                            <img src="pageAccueil/images/img2.jpg" class="photo">
                        </div>
                        <div class="carousel-item">
                            <img src="pageAccueil/images/img3.jpg" class="photo">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-2 decor"></div> 
            <div class="col-2 pres">Présentation<br>en photos</div>    
            
        </article>

        <article class="row ligne">
            <div class="col-2 pres txtMenu">Nos Menus
                <a href="pageAccueil/Le_Quai_Antique.pdf" class="lienCarte ms-5">La Carte</a>
            </div>
            <div class="col-2 decor decor2"></div> 
            <img src="pageAccueil/images/imgMenu.jpg" class="imgMenu">           
        </article>
    </main>    

{% endblock %}
{% block scripts %} <script src="pageAccueil/pageAccueil.js"></script> {% endblock %}
   