.headerBlock {
    font-family: 'Luminari';
    height: 100%;
}
/* Vignette de réservation */
.imgReserver {        
    width: 15%;
    box-shadow: 3px 2px 2px #F6AA1C;
    border: 0.2px solid #F6AA1C ;
    position: fixed;
    right: 3vw;
    top: 20vh;
}
.imgReserver:hover {
    transform: rotate(10deg);    
}  

/* Titre */
h1 {
    font-size: 9vh;
    color: #220901;
    font-weight: 800;
    position: absolute;
}
.titre {
    text-decoration: none;
    visibility: hidden;
    transition: all 0.23s ease-in-out;
}
/* Banniere bienvenue */
main {
    margin-bottom: 10vh;
}
.welcomeStrip {
    height: 20vh;
    background-color: #BC3908;
}  
.welcome {
    font-size: 4rem;
    color: #ffffff;    
} 

/* Galerie photo */
.photoRow {   
    margin-top: 10vh;      
}
.carousel {    
    width: 40vw;
    margin-left: 10vw;
}
.txtBlock {
    margin-top: 4.5vh;
    font-size: 3rem;
    color: #220901;
}
.photo {
    border-radius: 5%;
}
/* Vignette menus */
.menuRow {
    margin-top: 20vh;
}
.menuCol {
    margin-left: 20vw;
}
.txtMenu {
    font-size: 3rem;
    margin-top: 4.5vh;
    color: #220901;
    margin-right: -2.25vw;
}
.txtCarte {
    font-size: 2.5rem;
    margin-right: -2.25vw;
}
.lienCarte {
    text-decoration: none;
    color:#F6AA1C;
}
.lienCarte:hover {
    color: #941B0C;
}
.imgMenu {
    width: 25vw;
}
@media screen and (min-width: 850px) {
    .reserveStrip {
        visibility: hidden;
    }  
    .decor {
        background-color: #F6AA1C;
        height: 0.3vh;
        margin-top: 10vh;
        width: 12vw;
    }
}
@media screen and (max-width: 850px) {    
    .reserve {
        display: none;
    }
    /* Bande de reservation */
    .reserveStrip {
        text-decoration: none;
        font-size: 5vh;
        color:#220901;
        background-color: #fff3b0;
        position: fixed;
        bottom: 0; 
        z-index: 2;     
    }
    .carousel {
        width: 95%;
        margin: auto;
    }
    .decor {       
        margin-top: 1vh;
        margin-left: 15vw;
        height: 6vh;
        width: 1%;  
        border-left: 0.3vh solid #F6AA1C        
    } 
    .txtBlock {        
        width: 100%;
        margin-top: -4vh;
        font-size: 2rem;
        color: #220901;
    }
    .menuRow {
        flex-direction: column-reverse;
    }
    #menuDecor {
        margin-left: 85vw;
    }
    .imgMenu {
        width: 95%;
        margin: auto;
    }
    .menuCol {
        width: 100%;
        margin-left: auto;
        margin-top: -9vh;
    }
    .txtMenu {
        font-size: 2rem;
        color: #220901;
    }
    .txtCarte {
        font-size: 1.5rem;
    }
}

