/* Vignette de réservation */
.imgReserver {        
    width: 15%;
    float: right;
    margin-right: 7vw;
    box-shadow: 3px 2px 2px #F6AA1C;
    
}
.imgReserver:hover {
    transform: rotate(10deg);
    
}
.reserve {
    font-family: "Luminari", "fantasy";
}
@media screen and (max-width: 850px) {
    .reserve {
        visibility: hidden;
    }
}  

/* Bande de reservation */
.reserveStrip {
    height: 32vh;
    font-family: "Luminari", "fantasy";
}
.reserve2 {
    margin-top: 22vh;
    text-decoration: none;
    font-size: 5vh;
    color:#220901;
    background-color: #fff3b0;
    position: fixed;
    bottom: 0;
    z-index: 2;
}
@media screen and (min-width: 850px) {
    .reserveStrip {
        visibility: hidden;
    }
}
/* Titre */
.vide {
    height: 23vh;
}
h1 {
    font-family: "Luminari", "fantasy";
    font-size: 9vh;
    color: #220901;
    font-weight: 800;
    z-index: 1;
}
.titre {
    text-decoration: none;
    visibility: hidden;
    transition: all 0.23s ease-in-out;
}
/* Banniere bienvenue */
.welcomeStrip {
    height: 20vh;
    background-color: #BC3908;
}  
.welcome {
    font-size: 4rem;
    color: #ffffff;
} 
/* Galerie photo */
.slider {
    width: 40vw; 
    margin-left: 9vw;    
    border: none;
    
} 
.photo {
    width: 40vw;   
}

.ligne {   
    margin-top: 10vh;
}

.decor {
    background-color: #F6AA1C;
    height: 0.3vh;
    margin-top: 10vh;
}
.pres {
    margin-top: 6vh;
    font-size: 45px;
}
/* Vignette menus */
.txtMenu {
    margin-left: 30vw;
    padding-left: 5vw;
}
.imgMenu {
    width: 25vw;
}
.decor2 {
    padding-left: 10vw;
}
.lienCarte {
    text-decoration: none;
    color:#F6AA1C;
    font-size: 32px;

}
.lienCarte:hover {
    color: #941B0C;
}
main {
    font-family: "Luminari", "fantasy";
}